<!-- templates/balance.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Balance Mensual</title>
</head>
<body>
    <h1>Balance Mensual para la Cuenta {{ cuenta.numero_cuenta }}</h1>
    <table>
        <thead>
            <tr>
                <th>Mes</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for month, balance in balances %}
            <tr>
                <td>{{ month }}</td>
                <td>{{ balance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>