<!DOCTYPE html>
<html>
  <head>
    <title>Compras</title>
  </head>
  <body>
    <h1>Reporte de Compras</h1>
    {% if compras %}
    <table>
      <tr>
        <th>Cuenta</th>
        <th>Fecha</th>
        <th>Productor</th>
        <th>Producto</th>
        <th>Total Compras</th>
        <th>Acumulado</th>
      </tr>
      {% for compra in compras %}
      <tr>
        <td>{{ compra.cuenta__numero_cuenta }}</td>
        <td>{{ compra.fecha_compra|date:"d/m/Y" }}</td>
        <td>{{ compra.productor__nombre_completo }}</td>
        <td>{{ compra.producto__nombre }}</td>
        <td>{{ compra.total_compras }}</td>
        <td>{{ compra.acumulado }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No hay compras registradas.</p>
    {% endif %}
  </body>
</html>
